mixin prettyDate(date)
  -var d = new Date(date)
  span= dateFormat(d, "dd mmm yyyy h:MM TT")

doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript' src='/javascripts/admin_listsurveys.js')
  body
    include includes/nav
    #content-area
      h1= header
      
      div(class='new-survey-box' onclick="location.href='/admin/surveys/new'")
        p(class='survey-box-name' id='new-survey-plus') + Add Survey
        p(class='survey-box-responses' id='new-survey-instructions') Build a new survey

      if (surveys.length < 1)
        p There are no surveys. Time to make one.
      else
        each survey in surveys
          if (survey.status == "Published" || survey.status == "Closed")
            div(class='survey-box' onclick='getSurvey("'+survey._id+'")')
              p(class='survey-box-name' id='survey-'+survey._id)= survey.name
              if survey.responses.length === 1
                p(class='survey-box-responses')= survey.responses.length+' Response'
              else
                p(class='survey-box-responses')= survey.responses.length+' Responses'

          if survey.status == "Unpublished"
            div(class='survey-box' onclick='getSurvey("'+survey._id+'")')
              p(class='survey-box-name' id='survey-'+survey._id)= survey.name
              p(class='survey-box-unpublished')= survey.status

