doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').

      $(function() {
        $("#question-form").submit(postQuestion);

        $("#question-type").change(function() {
          if (($(this).val() === "Checkbox") || ($(this).val() === "Radio Button") || ($(this).val() === "Dropdown")) {
            // Remove option boxes previously and add one
            $('#options input').remove();
            $('#options br').remove();
            $('<input id="options-element" type="textarea" name="options"</input>').insertBefore('#add-option');
            $('<br>').insertBefore('#options-element');
            $('<br>').insertBefore('#add-option');
            $('#options').hide();
            $('#number').hide();
            $("#options").slideDown("slow");
          } else if ($(this).val() === "Number") {
            $('#options').hide();
            $('#number').hide();
            $("#number").slideDown("slow");
          } else {
            $('#options').hide();
            $('#number').hide();
          }
        });
      });

      function removeSurvey(id) {
        $.ajax('/api/surveys/'+id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            window.location.replace("/admin/surveys");
          }
        });
      }

      function removeQuestion(survey_id,question_id) {
        $.ajax('/api/surveys/'+survey_id+'/questions/'+question_id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            $('#question-'+question_id).remove();
          }
        });
      }

      function postQuestion() {
        // Retrieve values from question form
        var query = $('#query').val();
        var type = $('#question-type').val();
        var options = [];
        $('#options input').each( function(i,elem) {
          options.push(elem.value);
        });
        var id = $("#survey-id").val();
        $.ajax({
            url: '/api/questions/new', 
            type: 'POST',
            data: {
              query: query,
              type: type,
              options: options.join("::"),
              id: id
            },
            success: function(data) {
              location.reload();
            }
        });
        return false;    
      }

      function addOption() {
        $('#options-element').clone().insertBefore('#add-option');
        $('<br>').insertBefore('#add-option');
      }
    //- End Script
  body
    include includes/nav
    #content-area
      h1= header 
        span
          a(id='delete-button' onclick='removeSurvey("'+survey._id+'")')  x
      p This survey is 
        span=survey.status.toLowerCase()

      if survey.questions.length < 1
        p There are no questions in this survey yet. Let's add some.
      else
        table(class='table-theme')
          thead
            tr
              th Question
              th Type
              th Options
              th
          tbody
            each question in survey.questions
              tr(id='question-'+question._id)
                td= question.query
                td= question.type
                td= question.query_options.toString()
                td
                  a(id='delete-button' onclick='removeQuestion("'+survey._id+'","'+question._id+'")') x 

      div.question-box
        include includes/question_form

      if survey.status === "Unpublished"
        p
      else
        p= survey.responses