doctype html
html(lang="en")
  head
    title SurveyApp
    include includes/head
    script(type='text/javascript').
      function removeSurvey(id) {
        $.ajax('/api/surveys/'+id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            window.location.replace("/admin/surveys");
          }
        });
      }
      function removeQuestion(survey_id,question_id) {
        $.ajax('/api/surveys/'+survey_id+'/questions/'+question_id, {
          cache: false,
          type: 'DELETE',
          success: function(data) {
            $('#question-'+question_id).remove();
          }
        });
      }
  body
    include includes/nav
    h1= header 
      span
        a(id='delete-button' onclick='removeSurvey("'+survey._id+'")')  x
    p This survey is 
      span=survey.status.toLowerCase()

    if survey.questions.length < 1
      p There are no questions in this survey yet. Let's add some.
    else
      table(class='table-theme')
        thead
          tr
            th Question
            th Type
            th Options
            th
        tbody
          each question in survey.questions
            tr(id='question-'+question._id)
              td= question.query
              td= question.type
              td= question.query_options
              td
                a(id='delete-button' onclick='removeQuestion("'+survey._id+'","'+question._id+'")') x 

    div.question-box
      include includes/question_form

    if survey.status === "Unpublished"
      p
    else
      p= survey.responses